.projectPreview {
  display: flex;
  padding: 1rem; }
  .projectPreview img {
    width: 140px;
    height: 140px;
    border-radius: 50%; }
  .projectPreview .stats {
    padding: 1rem; }
  .projectPreview .heading {
    padding-bottom: 1rem; }
  .projectPreview .info {
    font-size: 0.8rem; }