.navbar {
  display: flex;
  justify-content: center;
}

.navbar-link {
  text-decoration: none;
  font-size: x-large;
  padding: .1rem;
  margin: .4rem;
  border-bottom: 2px solid;
}

#Navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }