.buttonTheme {
  background: none;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center; }
  .buttonTheme .biAdjust {
    width: 40px;
    height: 40px; }
    .theme--default .buttonTheme .biAdjust {
      color: #bbb; }
    .theme--default .buttonTheme .biAdjust :hover {
      color: orange; }
    .theme--light .buttonTheme .biAdjust {
      color: #000; }
    .theme--light .buttonTheme .biAdjust :hover {
      color: green; }
