.buttonTheme {
  background: none;
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center; }
.buttonTheme .biAdjust {
  width: 40px;
  height: 40px; }

.githubLink {
  background: none;
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center; }

.githubIcon {
  padding: 3px;
  width: 35px;
  height: 35px; }

.linkedinLink {
  background: none;
  position: absolute;
  border: none;
  left: 40px;
  top: -4px;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center; }

.linkedinIcon {
  width: 48px;
  height: 48px; }