@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0; 
  transition: 0.2s ease-in-out;}

html,
body {
  background: #000;
  font-family: "Comfortaa"; }

li {
  list-style: none; }

a {
  text-decoration: none; }

hr {
  margin: 1rem 2rem; }

.container {
  width: 800px;
}

.wide {
  width: 100vw;
}

.tall {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
}

.pd-top-50{
  padding-top: 50px;
}

.theme--default .themed {
  background-color: #222;
  color: #bbb;}

.theme--light .themed {
  background-color: #ddd;
  color: #000;}

.theme--default .themed-color {
  color: #bbb;}

.theme--light .themed-color {
  color: #000;}

.theme--default .btn {
  color: #bbb; }
.theme--default .btn:hover {
  color: orange;}
.theme--light .btn {
  color: #000; }
.theme--light .btn:hover {
  color: green;}

div {
  white-space: pre-wrap;
}